@mixin slide {
  @include transition(transform);
  @include full-page;

  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;

  .figure {
    @include figure;

    &--loaded {
      background: url(/assets/images/stripe.png);
    }
  }

  &__title {
    display: flex;
    padding: $lem;
  }
}
