@mixin slide {
  @include transition(transform);
  @include full-page;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  cursor: pointer;

  .figure {
    //@include figure($stretch: stretched);
    @include figure;
  }

  &__title {
    display: flex;
    padding: $lem;
  }
}
