@mixin slide {
  @include transition(transform);
  @include full-page;
  @include background-image(transparent);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  cursor: pointer;

  .figure {
    display: none;
  }

  &__title {
    display: flex;
    padding: 0 0 $lem * 2 $lem * 2;
  }
}
