@mixin works__thumbs {
  padding: $lem;
  @include works__thumbs--grid;

  .title {
    display: flex;
    flex-basis: 100%;
    padding-bottom: $lem;

    @include text-style(title);
  }

  .thumb {
    @include thumb;
  }
}
