@mixin slider__slides {
  position: relative;
  height: 100%;
  overflow: hidden;

  .slide {
    @include slide;
  }

  .title {
    display: inline-flex;
    transform: rotate(-90deg);
    margin-top: $lem * 5;
  }
}
