@mixin works {
  display: flex;
  flex-wrap: wrap;

  min-height: 100vh;
  align-items: center;
  justify-content: space-around;

  padding: $lem * 2 0;
  @include png-background('dots.png');

  &__years,
  &__techniques {
    display: none;
    padding: $lem;

    .list {
      @include list;
    }
  }

  &__thumbs {
    @include works__thumbs;
    flex-basis: 100%;
  }

}
