@mixin thumb {
  @include thumb--horizontal;
  @include thumb--inactive;

  .figure {
    @include figure;
    @include transition(all);

    &:hover {
      transform: scale(1.1);

      .figcaption {
        display: flex;
        align-items: flex-end

        .link {
          padding: $lem;
          @include colors(white-on-black);
        }
      }
    }
  }
}
