@mixin parallax-slide($height) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: $height 0;

  display: flex;
  justify-content: center;

  &__title {
    display: flex;
  }

  &--foreground {
    transform: translateZ(0);
  }

  &--background {
    transform: translateZ(-1px) scale(2);
  }
}
