html {
  &.home {
    body {
      .slider__bullets {
        @include slider__bullets;
        position: relative;
        top: $lem * 2;
        z-index: 1;

        //display: none;
      }

      .slider {
        @include slider;

        //display: none;
      }

      .about {
        @include about;

        //display: none;
      }

      .works {
        @include works;
      }

      .contact {
        @include contact;
      }

      @include home--portrait;
    }
  }
}
